<div class=" img-area">
      <div class="profile-photo">
        <a href="{{ profile.image.url }}">
            <img src="{{ profile.image.url }}" alt="user-image" width="150" height="150" class="profile-pic rounded-circle">
        </a>
        <div class="info-">
            <h5 class="account-heading">{{ profile.username }}</h5>
            <a title="Click to manage your Email" href="{% url 'account_email'%}">
              <p class="text-secondary">{{ profile.email }}</p>
            </a>
            {% if profile.groups.exists %}
                {% for group in profile.groups.all %}
                    <p class="text-secondary">Designation: {{ group.name }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="select-">
          <ul>
            <li>
              <a href="{% url 'profile'%}" id="p-i">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>Profile</span>
              </a>
            </li>
            <li>
              <a href="{% url 'delete_account'%}" id="e-p">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <span>delete account</span>
              </a>
            </li>
            <li>
              <a href="{% url 'profile_edit'%}" id="a-">
                <i class="fa fa-solid fa-pen-to-square"></i>
                <span>Edit Profile</span>
              </a>
            </li>
            <li>
              {% if user.has_usable_password %}
                <a href="{% url 'account_change_password' %}">
                    <i class="fa fa-solid fa-pen-to-square"></i> 
                    <span>Change password</span>
                </a>
              {% else %}
                <a href="{% url 'account_set_password' %}">
                    <i class="fa fa-solid fa-pen-to-square"></i> 
                    <span>Set password</span>
                </a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
      <div class="  socialMedia-area">
        <ul>
          <li>
            <a title="Github" href="{{profile.github}}" class="github">
              <i class="fa fa-brands fa-github"></i>
              <span> Github</span>
              <!-- <span class="sm-names"> Github name</span> -->
            </a>
          </li>


          <li>
            <a title="Google+" href="{{profile.googleplus}}">
              <i class="fa fa-brands fa-google-plus-g"></i>
              <span> Google+</span>
              <!-- <span class="sm-names"> Google name</span> -->
            </a>
          </li>
          <li>
            <a title="Instagram" href="{{profile.instagram}}">
              <i class="fa fa-brands fa-instagram"></i>
              <span> Instagram</span>
              <!-- <span class="sm-names"> Instagram name</span> -->
            </a>
            <li>
              <a title="Facebook" href="{{profile.facebook}}">
                <i class="fa fa-brands fa-facebook"></i>
                <span> Facebook</span>
                <!-- <span class="sm-names"> Instagram name</span> -->
              </a>
          </li>
        </ul>
      </div>
</div>