{% extends 'base.html' %}
{% load static %}
{% load i18n allauth account %}

{% block head %}
<title>
    {% trans "Login Cancelled" %}
</title>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" href="{% static 'css/users/login.css' %}" type="text/css">

<link rel="stylesheet" href="{% static 'css/contact.css' %}" type="text/css">
<style>
  
</style>
{% endblock head %}
{% block content %}
<section class="s2 user_info ">
    <div id="side-page" class="container">
        <h1 class="brand">
          {% element span %}
            {% trans "Login Cancelled" %}
          {% endelement %}
        </h1>
        <div class="wrapper animated bounceInLeft ">
          
            {% url 'account_login' as login_url %}
            <p>
                {% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}
            </p>
        </div>
    </div>
</section>
{% endblock %}