{% extends "base.html" %}
{% load static %}
{% load allauth i18n %}
{% block head %} 
<title>
    {% trans "Sign Out" %}
</title>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" href="{% static 'css/users/login.css' %}" type="text/css">

<link rel="stylesheet" href="{% static 'css/contact.css' %}" type="text/css">
<style>
  
</style>
{% endblock head %}
{% block content %}
<section class="s2 user_info ">
    <div id="side-page" class="container" style="height: 89vh; ">
        <h1 class="brand">
            {% element span %}
                {% trans "Sign Out" %}
            {% endelement %}
        </h1>
        <p>{% trans 'Are you sure you want to sign out?' %}</p>
        <div class="wrapper animated bounceInLeft ">
            <div>
                <div class="form-info">
                    <div class="form">
                        {% url 'account_logout' as action_url %}
                        {% element form method="post" action=action_url no_visible_fields=True %}
                            {% slot body %}
                                {% csrf_token %}
                                {% if redirect_field_value %}
                                    <input type="hidden"
                                           name="{{ redirect_field_name }}"
                                           value="{{ redirect_field_value }}" />
                                {% endif %}
                            {% endslot %}
                            {% slot actions %}
                                {% element button type="submit" %}
                                    {% trans 'Sign Out' %}
                                {% endelement %}
                            {% endslot %}
                        {% endelement %}
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>
{% endblock %}
