<!--users/templates/registration/password_change_form.html-->

{% extends 'base.html' %}
{% load static %}
{% load allauth i18n %}
{% block head %}
<title>
  {% trans "Change Password" %}
</title>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" href="{% static 'css/users/login.css' %}" type="text/css">

<link rel="stylesheet" href="{% static 'css/contact.css' %}" type="text/css">
<style>
  /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
  #map {
    height: 100%;
  }
</style>
{% endblock head %}
{% block content %}
<section class="s2 user_info ">
  <div id="side-page" class="container">
    <h1 class="brand">
      {% element span %}
        {% trans "Change Password" %}
      {% endelement %}
    </h1>
    <div class="wrapper animated bounceInLeft ">
      
      <div>
        <div class="form-info">
          <div class="form">
            {% url 'account_change_password' as action_url %}
            {% element form form=form method="post" action=action_url %}
                {% slot body %}
                    {% csrf_token %}
                    {% element fields form=form %}
                    {% endelement %}
                {% endslot %}
                {% slot actions %}
                    {% element button type="submit" %}
                        {% trans "Change Password" %}
                    {% endelement %}
                    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                {% endslot %}
            {% endelement %}
          </div>
          <div class="buttons">
            <a href="{% url 'account_login' %}">Login</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}