{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load allauth %}

{% block head %}
<title>
    {% trans "Verify Your Email Address" %}
</title>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" href="{% static 'css/users/login.css' %}" type="text/css">

<link rel="stylesheet" href="{% static 'css/contact.css' %}" type="text/css">
<style>
  
</style>
{% endblock head %}
{% block content %}
<section class="s2 user_info ">
    <div id="side-page" class="container">
        <h1 class="brand" >
            {% element span %}
             {% trans "Set a password for your account" %}
            {% endelement %}
        </h1>
        <div class="wrapper animated bounceInLeft "> 
            <div>
                <div class="form-info">
                    <div class="form">
                        <p>
                            {% blocktrans %}We have sent an email to you for setting a new Password for your social account. Follow the link provided. If you do not see the Set New Password email in your main inbox, check your spam folder. Please contact us if you do not receive the set new passwordd email within a few minutes.{% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}