{% extends 'maindashboard/dashboard_base.html' %}
{% load admin_filters %}  <!-- Load the custom filter -->

{% comment %} displays blog lists and category lists {% endcomment %}

{% load static %}

{% block head %}
<title> Main Dashboard Home</title>
<link rel="stylesheet" href="{% static 'css/blogdashboard/dashboard_home.css' %}">
<link rel="stylesheet" href="{% static 'css/blogdashboard/common.css' %}">
<style>
    th{
        padding-right: 20px;
      }
    @media screen and (max-width: 600px) {
        table {
            font-size: 11px;
        }
    }
    tr:nth-child(even) {
        background-color: #bac3d1a1;/* Set the background color for even rows */
        color: #000;/* Set the text color for even rows (optional) */
    }
</style>
{% endblock head %}

{% block content %}
{% comment %} <!-- home --> {% endcomment %}
<section class="item2 section home-page" id="home">
    {% comment %} dashboard_article_v.py {% endcomment %}
    {% comment %} infor cards  {% endcomment %}
        <div class="info-cards">
            {% comment %} TOTAL NO FO BLOGS WRITTEN{% endcomment %}
            <a href="{#% url 'blog:written_article_list' %#}">
            <div class="card--item">
                <div id="card--item" style="margin: 0.8rem;">
                    <div class="card-top">
                        <div class="card-title-inf">
                            <span class="card--title ">Articles Written</span>
                            <span id="span2">{{ total_blogs }}</span>
                        </div>
                        <i class="green d-c-fa fa fa-layer-group"></i>
                    </div>
                    <p class="card--footer">Total written articles</p>
                </div>
                <div class="card-bar bg--green"></div>
            </div>
            </a>
            {% comment %} END {% endcomment %}       
            {% comment %} Total published articles {% endcomment %}
            <a href="{#% url 'blog:published_article_list' %#}">
            <div class="card--item">
                <div id="card--item" style="margin: 0.8rem;">
                    <div class="card-top">
                        <div class="card-title-inf">
                            <span class="card--title ">Published Articles</span>
                            <span id="span2">{{ total_published_blogs }}</span>
                        </div>
                        <i class="pink d-c-fa fa fa-layer-group"></i>
                    </div>
                    <p class="card--footer">Total published articles</p>
                </div>
                <div class="card-bar bg--pink"></div>
            </div>
            </a>
            {% comment %} end {% endcomment %}
            {% comment %} Website Total Visitors {% endcomment %}
            {% comment %} <a href="{% url 'visit_list'%}">
            <div class="card--item">
                <div id="card--item" style="margin: 0.8rem;">
                    <div class="card-top">
                        <div class="card-title-inf">
                            <span class="card--title ">Total visitors</span>
                            <span id="span2">{{ total_visitors }}</span>
                        </div>
                        <i class="blue d-c-fa fa fa-layer-group"></i>
                    </div>
                    <p class="card--footer">Website Total Visitors </p>
                </div>
                <div class="card-bar bg--blue"></div>
            </div>
            </a> {% endcomment %}
            {% comment %} end {% endcomment %}
            {% comment %} Total number of visits {% endcomment %}
            {% comment %} <a href="" style="cursor: default;">
            <div class="card--item">
                <div id="card--item" style="margin: 0.8rem;">
                    <div class="card-top">
                        <div class="card-title-inf">
                            <span class="card--title ">Total visits</span>
                            <span id="span2">{{ total_visits }}</span>
                        </div>
                        <i class="yellow d-c-fa fa fa-layer-group"></i>
                    </div>
                    <p class="card--footer">Total number of visits</p>
                </div>
                <div class="card-bar bg--yellow"></div>
            </div>
            </a> {% endcomment %}
            {% comment %} END OF COMMENTS {% endcomment %}
        </div>
    {% comment %} end info cards {% endcomment %}

    {% comment %} |||||||||COMMON FOR MANY PAGES|||||||||| {% endcomment %}
        {% comment %} VISIT WEBSITE {% endcomment %}
        <div class="bfr-r-a">
            <div id="bfr-r-a">
                    <!--<i class="fas fa-chart-line "></i>-->
                <div class="d-inline" style="padding: 0 10px;">
                    <!--T/B, L/R  
                    <h5 style="margin: 0;">Recent Published Articles</h5>
                    <span>List of your recently published articles.</span>-->
                </div>
            </div>
            <div class="visit-website">
                <button><a href="{#% url 'blog:blog_home' %#}">
                        <i class="fa fa-paper-plane" style="padding-right: 10px;color: #0a600a;"></i>
                        Visit website
                    </a></button>
            </div>
        </div>
        {% comment %} END OF VISIT WEBSITE  {% endcomment %}
        {% comment %} RECENT ARTICLES {% endcomment %}
        <div class="recent-articles">
            <div id="r-a-heading">
                <h2> Recent Activities </h2>
            </div>
            {% if log_entries %}
            <div id="r-a-body">
                <table>
                    <thead>
                        <tr>
                            <th>Action Time</th>
                            <th>User</th>
                            <th>Action</th>
                            <th>Content Type</th>
                            <th>Object</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log_entry in log_entries %}
                            <tr>
                                <td>{{ log_entry.action_time }}</td>
                                <td>{{ log_entry.user }}</td>
                                <td>{{ log_entry.action_flag|display_action }}</td>
                                <td>{{ log_entry.content_type }}</td>
                                <td>{{ log_entry.object_repr }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div>No blogs published yet.</div>
            {% endif %}
        </div>
        {% comment %} END OF RECENT ARTICLES {% endcomment %}
        
    {% comment %} |||||||||END COMMON FOR MANY PAGES|||||||||| {% endcomment %}
</section>
{% comment %} <!-- end Home --> {% endcomment %}


{% endblock content %}

{%block js%}
{%endblock js%}