/* Dark Mode */
[data-theme="dark"] {
    --bg-color: #1e1e1e;
    --odd-bg-color:#151010;
    --even-bg-color:#494747;
    --text-color: #fff;
    --inverted-bg-color: #f5f5f5;
    --inverted-text-color: #333;
    --primary-color: #333;
    --accent-color: #f4ca0e;
    --accent-color-hover: #ffff00;
    --icon-bg-color:#e3d189;
    --font-size: 16px;
    --line-height: 1.5;
    --border-radius: 4px;
}

/* Light Mode (default) */
[data-theme="light"] {
    --bg-color: #f5f5f5;
    --odd-bg-color:#e9e3e3;
    --even-bg-color:#c2c1c1;
    --text-color: #333;
    --inverted-bg-color: #1e1e1e;
    --inverted-text-color: #fff;
    --primary-color: #000;
    --accent-color: #f4ca0e;
    --accent-color-hover: #ffff00;
    --icon-bg-color:#e3d189;
    --icon-bg-color-hover:#d1ac15;
    --font-size: 16px;
    --line-height: 1.5;
    --border-radius: 4px;
}


#toggle-theme{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color) !important;
}
#toggle-theme span{
    font-size: 24px;
}