section{
    height: 88vh;
    display: grid;
    align-items: center;
}
.body{
    background-color: white;
    padding: 20px 10px;
    margin: 0 20px
  }
  form{
    display: grid;
  }
  .article-w-category{
    margin-bottom: 1rem;
  }
  label{
    margin-right: 5px;
    width: 80px;
  }
  .form-group{
    display: flex;
  }
  .btns{
    display: flex;
  }
  .btns a{
    padding: 0 5px;
    margin: 0 3px;
  }
  .approve{
    align-items: center;
    display: flex;
  }